* {
    margin: 0;
    padding: 0;
}

body{
    background: rgba(68, 88, 119, 1);
}

main{
    height: 60vh;
}

.logo{
    height: 300px;
    margin-left: 35vw;
    position: absolute;
}

.icons{
    margin-top: 60vh;
    position: absolute;
    margin-left: 35vw;
    display: grid;
}

#cart{
    height: 100px;
}

#signup{
    height: 100px;   
}

#info{
    height: 100px;
}